.terms_and_conditions
  %h2 About Us
  %ul
    %li City grocery is low price online supermarket that enable it customer to order products across categories like Staples, household care, personal care, beverage, Grocery, home, kitchen needs, snacks and fruits. City grocery bring highest quality products at the most honest reasonable and competing prices.
    %li Save your time for important works.
    %li Avoid traffic and parking.
    %li Friendly webapp provides easy modes of payment:  Cash On Delivey or E-wallet. EDC Machine will be carried by our delivery person for payment by card.
  %u CUSTOMER INFORMATION 
  %p Customer should keep all the correct information and details of delivery address, contact no. And COMMUNICATION update at all time. 

  %u PRICING POLICY
  %p The goods will never be sold at a price higher than the MRP and fresh product price do change on a daily basis.

  %u PAYMENT POLICY 
  %p Customer to use his/her debit card or any other payment card or cash on delivery to make payment for goods ordered on phone, WhatsApp or by message. 

  %u REPLACE AND REFUND POLICY
  %p Any product purchased via call, message, WhatsApp can be returned within two days from the date of delivery. 

  %u DELIVERY POLICY
  %p Delivery is free for order above RS.299. Any order below RS299, delivery charge of RS25 will be charged.


