.terms_and_conditions
  %h2 Contact Us
  %u Contact details
  %p
    Bengali tola , ward no.- 25
    %br
    Samastipur, Bihar-848101
  %p
    Email: contact@citygrocery.in
    %br
    Mob: 9431416178
    %br
    Web: www.citygrocery.in 

  %p
    Customer support
    %br
    Some help?
    %br
    Feedback- good or bad?
    %br
    Please Call at 9504406444 or  email us at: contact@citygrocery.in

  %p
    To submit a customer service request
    = link_to 'click here', customer_request_path
